body {
   background-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
   font-size:18px;
}

.navbar-default {
   background:#fff;
}

.dropdown-menu {
   font-size:18px;
}

.content {
   height:257px;
   padding:16px 20px;
   font-size:18px;
   line-height:1.67;
   margin-top:-20px;
}

 img{ width: 100%; height: auto;max-width: 100%; display: block; }  
 
.fontweight {
  font-weight:bold;
}